@{
    ViewData["Title"] = "About";
}
<div class="pt-5 mb-3">
    <div class="story w-100 h-75 fixed-top  text-center text-white p-4 pb-2">
        <h3>НПО "СТОИК":</h3>
        <p>
            Неправителствената организация "Сдружение Традиции Образование История и Култура" ,представлявана от седемте и члена е основана и вписана в търговския регистър на 16.01.2020г. 
        </p>
        <h3>Цели:</h3>
        <p>
            Целите на НПО "СТОИК" и нейните представители са да работи за социалното развитие на непривилегированите групи и общности в България и чужбина.Да насърчава и подпомага гражданската инициатива и предприемачество на подрастващите ,младежите и тяхното активно включване в обществения и икономически живот.<br> Финансово подпомагане на деца, младежи и възрастни които живеят с доход на член от семейството под една минимална работна заплата.<br>
            Да насърчава и подпомага творчески инициативи от всички области на изкуството, историята, културата и образованието като провокира творческата и техническата креативност на децата и подрастващите.<br> Насърчава и подкрепя инициативи с отворен характер, разпространява и популяризира използване на свободен софтуер, подпомага модернизацията и изграждането на културни домове, библиотеки, читалища, спортни центрове, интернет зали, прожекционни зали. <br>Провеждане на семинари и конференции, инвестиране в човешките ресурси чрез кампании, образователни проекти и разпространяване на информация, приобщаване на българските граждански организации и българското общество към европейските и световни стандарти за съхранение на традициите, културата и историята ни, чрез активно гражданско участие, активно сътрудничество между граждански организации, бизнес, местни власти и чуждестранни организации с оглед реализирането на проекти, насочени към постигане целите на сдружението. <br>
            Изследване, опазване и възстановяване на традициите и културните наследства на България, и съхраняването им.
            Да работи за правната и социалната и икономическата интеграция на българското общество в ЕС.
        </p>
        <h3>Средства:</h3>
        <p >
            <ul class="text-center list-unstyled">
                <li>Национални и международни проекти и програми, насочени към евроинтеграция на обществото.</li>
                <li>Средства предоставени от държавата, общините, български и международни организации .</li>
                <li>Средства предоставени от частни и бизнес лица.</li>
                <li>Дарения.</li>
            </ul>
        </p>

    </div>
</div>