@{
    ViewData["Title"] = "Home Page";
}

    <div class="background d-flex text-white pb-3">
        <div class="align-self-center w-100">
            <h1 class="display-4">Добре дошли!</h1>
            <p>
                Ние сме екип от седем човека в не правителствена органиязация "Сдружение Традиции Образование История и Култура"(СТОИК),<br>представляващи първото кино в град Стара Загора.
                Ако искаш да научиш повече за нашата история и цели кликни <a href="/Home/About"> тук</a>
               
            </p>
      </div>
    </div>
